.navigation {
    margin: 26px 0;
    background-color: cadetblue;

    // justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom: 10px;
    margin-top: 10px;

    .navTitle {
        display: flex;
        justify-content: space-evenly;
    }

    .underNav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: $color-1;
        padding: 10px;
        font-size: 20px;
    }



    .userChoice {
        border: 1px solid #a8a8a8;
        padding: 10px;
        background-color: silver;
        margin-top: 10px;
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }

    .Topfour {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 10px;

        h3 {
            margin-right: 30px;
        }
    }

    .TopfourContent {
        display: flex;
        border: 1px  solid #a8a8a8;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        background-color: azure;

        ul {
            text-decoration: none;
            list-style: none;
        }

        span, p {
            color: blue;
            font-size: large;
        }
    }
}
