.navigation {
    background-color: cadetblue;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom: 10px;
    margin-top: 10px;

    .navTitle {
        display: flex;
        justify-content: space-evenly;
    }

    .underNav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: $color-1;
        padding: 10px;
        font-size: 20px;
    }

    .userChoice {
        border: 1px solid #a8a8a8;
        padding: 10px;
        background-color: silver;
        margin-top: 10px;
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }
}
