//Roboto font for MUI
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
//Font icons for MUI
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$font-1: "Poppins", sans-serif;

$color-1: #61dafb;
$color-2: #f7f7f7;
$color-3: #282c34;
$color-4: rgb(32, 35, 42);


body {

  background-color: rgba($color: blue, $alpha: 0.2);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-3;
  cursor: pointer;
}
a:visited {
  color: $color-3;
}
